.banner {
    padding: 6px;
    background-image: repeating-linear-gradient(to bottom, #282c34, rgb(147, 22, 147), #282c34);
    color: whitesmoke;
}

.animacao {
    height: auto;
    display: flex;
    justify-content: space-around;
    gap: 20px; 
    flex-wrap: wrap;
}

.animacao img {
    width: auto; 
    max-width: 100%; 
}

.bem-vindo {
    width: 30%;
    line-height: 1.6;
    margin-right: 20px; 
}

.banner-section {
    margin: 30px;
}

.animacao {
    animation-name: example;
    animation-duration: 4s;
    animation-delay: 2s;
}

@keyframes example {
    from {
        background-color: transparent;
    }

    to {
        color: black;
    }
}

figure img {
    border-radius: 8px;
    width: 150px;
    height: 150px;
    transition: width 2s, height 2s, transform 2s;
}

figure img:hover {
    transform: rotate(45deg);
}

@media screen and (max-width: 768px) {
    .animacao {
        flex-direction: column; 
        align-items: center; 
    }

    .bem-vindo {
        width: 50%; 
        margin-right: 0; 
        margin-bottom: 20px; 
    }

    .animacao img {
        height: auto; 
        max-width: 80%;
    }
}