.banner {
    padding: 20px;
    background: linear-gradient(to bottom, #000000, #6c757d);
    color: whitesmoke;
}

.tab-text {
    color: whitesmoke; 
  }
  

.animacao {
    height: auto;
    display: flex;
    justify-content: space-around;
    gap: 20px; 
    flex-wrap: wrap;
}

.animacao img {
    width: auto; 
    max-width: 100%; 
}

.bem-vindo {
    width: 30%;
    line-height: 1.6;
    margin-right: 20px; 
}

.animacao {
    animation-name: example;
    animation-duration: 3s;
    animation-delay: 5s;
}

@keyframes example {
    from {
        background-color: transparent;
    }

    to {
        color: black;
    }
}

figure img {
    border-radius: 2px;
    width: 150px;
    height: 250px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 20px 26px 0 rgba(0, 0, 0, 0.19);
}


@media screen and (max-width: 768px) {
    .animacao {
        flex-direction: column; 
        align-items: center; 
    }

    .bem-vindo {
        width: 50%; 
        margin-right: 0; 
        margin-bottom: 20px; 
    }

    .animacao img {
        height: auto; 
        max-width: 50%;
    }
}