header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /*padding: 20px;*/
  background-color: #282c34;
  color: white;
}


header img {
  width: 100px;
  border-radius: 50%;
  margin-top: 8px;
  margin-left: 8px;
}

nav ul {
  list-style: none;
  display: flex;
  gap: 80px;
}

nav a {
  color: white;
  text-decoration: none;
}

a:hover {
  background-color: rgb(147, 22, 147);
  border-radius: 8px;
  padding: 6px;
}

a:active {
  filter: contrast(600%);
  border-radius: 8px;
}

.botao {
  font-family: sans-serif, cursive;
  background-color: #e7e7e7;
  color: black;
  border: 2px solid #e7e7e7;
  padding: 6px;
  border-radius: 6px;
  margin: 16px;
  cursor: cell;
}

.botao:hover {
  background-color: transparent;
  color: white;
}

@media (max-width: 768px) {
  nav ul {
    flex-direction: column;
    gap: 20px; 
  }

  nav a {
    padding: 10px 0; 
    text-align: center;
    display: block;
  }
}