@import "bootstrap/dist/css/bootstrap.min.css";


/* Estilo global */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: normal;
}

.form-section {
    width: 30%;
    margin: 16px auto;
    background-color: rgb(173, 190, 206);
    padding: 8px;
    border-radius: 4px; 
}

.bg-forms {
    background-image: url("https://cdn.pixabay.com/photo/2019/12/06/17/53/controller-4677877_1280.jpg");
    background-position: center;
    background-repeat: no-repeat;
    padding: 2px;
}


.invalid {
    color: red;
}

@media (min-width: 300px) and (max-width: 599px) {
    .form-section {
        width: auto;
    }
}

